{% extends 'base.html' %}

{% block title %}Tokoku{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-3">
    <div class="card shadow-custom border-0">
      <h4 class="p-3 font-weight-bold text-grey">
        Kategori
      </h4>
      <!-- mengatur pilihan filter kategori-->
      <ul class="list-group border-0 categories_list">
        <li {% if not kategori_diminta %}
          class="list-group-item border-0 p-0 selected"
        {% else %}
          class="list-group-item border-0 p-0 unselected"
        {% endif %}>
          <a href="{% url 'listings:daftar_produk' %}" class="btn btn-block text-left">Semua</a>
        </li>
        {% for kategori in kategoris %}
          <li 
            {% if kategori.slug == kategori_diminta.slug %}
              class="list-group-item border-0 p-0 selected"
            {% else %}
              class="list-group-item border-0 p-0 unselected">
            {% endif %}
            <a href="{{ kategori.get_absolute_url }}" class="btn btn-block text-left">
              {{ kategori.nama }}
            </a>
          </li>
        {% endfor %}  
      </ul>
      <!-- end of mengatur pilihan filter kategori-->
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card shadow-custom border-0 mb-4">
      <div class="card-body text-center">
        <h2 class="font-weight-bold text-grey">
          {% if kategori_diminta %}
            {{ kategori_diminta.nama }}
          {% else %}
            Produk Kami
          {% endif %}
        </h2>
        <div class="bottom_line"></div>
      </div>
    </div>
    <div class="row no-gutters">
      {% for produk in produks %}
      <div class="col-sm-6">
        <div class="card product">
          <div class="item">
            <div class="item-image">
              <img src="{{ produk.gambar.url }}" alt="{{ produk.nama}}" class="fas fa-search-plus">
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <a href="{{ produk.get_absolute_url }}" class="h2 text-white text-decoration-none">
                  <i class="fas fa-search-plus"></i>
                </a>
              </div>
            </div>
            <div class="card-body text-center">
              {{ produk.nama }}
              <hr>
              <span> Rp {{ produk.harga }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<hr>
{% endblock content %}
